.panel-default> .cardTitle {
  background-color: $secondary-blue;
  color: $white-text;
}

.titles {
  font-size: 14px;
}

.cardNumber {
  float: right;
  margin-top: 2px;
}

@include phone {
  .titles {
    font-size: 12px;
  }
}

@include smallest-supported-screen {
  .titles {
    font-size: 11px;
  }

  .cardNumber {
    margin-top: 5px;
  }
}

