.transaction-approval-buttons {
  display: flex;
  justify-content: space-between;
  width: 226px;
  margin: 0 auto;

  &__go-back-button,
  &__submit-button {
    width: 110px;
    color: $white-text;
  }

  &__go-back-button {
    background-color: $red;
  }

  &__submit-button {
    background-color: $button-blue;
  }
}
