#newOrderSelectContainer{
  margin: 0 auto 7% auto;
}

#orderSelect {
  max-width: 300px;
}

#paymentAccount:hover, #orderSelect:hover {
  cursor: pointer;
}

#newOrderChoice {
  display: flex;
  align-items: center;
}

#orderSelect, #newOrderButton {
  display: inline;
}

#newOrderButton {
  width: 100px;
  margin-left: 5%;
  background-color: #0044cc;
  color: #EEEEEE;
}
