// device sizes
$min-phone-width: 359px;
$max-phone-width: 767px;
$max-tablet-width: 991px;

// colors
$primary-blue: #003399;
$secondary-blue: #003CB3;
$button-blue: #0044CC;
$active-blue: #0041B2;
$light-blue: #B0C6F2;
$white: #FFFFFF;
$white-text: #EEEEEE;
$black: #111111;
$yellow: #FFC266;
$red: #990000;
$shadow: #000000;

// color transformations
$lighten: 20%;
$lighten-half: 40%;
$darken: 20%;
$darken-half: 40%;
