#orderIBAN {
  max-width: 400px;
  margin-bottom: 10px;
}

#orderOwner {
  max-width: 400px;
}

#orderAmount {
  max-width: 150px;
}

.bootstrap-select.form-control:not([class*=col-]) {
  max-width: 185px;
}

#orderBankSelect:hover {
  cursor: pointer;
}

#orderBankSelect, #orderBIC {
  max-width: 185px;
}

#startDatePicker, #saveOrder {
  display: flex;
  align-items: center;
}

input[type=radio],
input[type=checkbox] {
  margin-top: 0;
}

#startDatePicker_group {
  max-width: 170px;
}

#periodSelect, #timesInput {
  max-width: 95%;
}

#times {
  margin-left: 5%;
}

#timesInput {
  float: right;
}
