.accountContainer {
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto 4% auto;
}

.accountContainer:hover {
  cursor: pointer;
}


@media (max-width: 767px) {
  .accountContainer {
    margin: 0 auto 7.5% auto;
  }
}
