.detailedAccountContainer {
  min-width: 300px;
  max-width: 500px;
  border: none;
  margin: 0 auto 10% auto;
}

.panel > .panel-body + .list-group .list-group-item {
  border-top: 4px solid #e9effc;
}

@media (max-width: 767px) {
  .detailedAccountContainer {
    margin: 0 auto 10% auto;
  }
}
