.verticalCenterInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#information {
  min-height: 300px;
  padding: 4.1%;
  font-size: 13px;
  background-color: #d4e0f7;
  margin-bottom: 3%;
}

#closeInfoPanel {
  font-size: 18px;
  float: right;
  margin-top: -2%;
  margin-right: -2%;
  color: #555555;
}

#closeInfoPanel:hover {
  cursor: pointer;
}

#infoTittle {
  margin-top: 0;
}

#lastPInfo{
  margin-bottom: 0;
}



@media (max-width: 767px) {
  #information {
    margin: 0 auto 3% auto;
    max-width: 450px;
  }

  #infoTittle {
    font-size: 21px;
  }
}
