#loginHead {
  background-color: #003cb3;
  border: none;
}

.titles {
  margin: 2%;
  color: #EEEEEE;
  text-shadow: 1px 1px 4px #000000;
  border:none;
  font-size: 17px;
}

.verticalCenterLogin {
  display: flex;
  align-items: center;
}

#lockIcon {
  margin-left:0;
  font-size: 35px;
  margin-right: 5%;
  color: #EEEEEE;
  text-shadow: 1px 1px 4px #000000;
}

@media (max-width: 992px) {
  .titles {
    margin: 1%;
  }
}
