.cardContainer {
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto 4% auto;
}

.cardContainer:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .cardContainer {
    margin: 0 auto 7.5% auto;
  }
}
