.transfersContainer {
  max-width: 400px;
  margin: 0 auto 4% auto;
}

#transferCompletionForm {
  margin: 0 auto 7% auto;
}

label {
  font-weight: 500;
}

#bankDiv {
  margin-bottom: 10px;
}

.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small {
  color: black;
}
