#orderCompletionForm {
  max-width: 400px;
  margin: 0 auto 7% auto;
}

#orderSelect {
  max-width: 300px;
}

#newOrderChoice {
  display: flex;
  align-items: center;
}

#orderSelect, #newOrderButton {
  display: inline;
}

#newOrderButton {
  width: 100px;
  margin-left: 5%;
  background-color: #0044cc;
  color: #EEEEEE;
}

#orderIBAN {
  max-width: 400px;
  margin-bottom: 10px;
}

#orderOwner {
  max-width: 400px;
}

#orderAmount {
  max-width: 150px;
}

.bootstrap-select.form-control:not([class*=col-]) {
  max-width: 185px;
}

#orderBankSelect:hover {
  cursor: pointer;
}

#orderBankSelect, #orderBIC {
  max-width: 185px;
}



#startDatePicker, #saveOrder {
  display: flex;
  align-items: center;
}

input[type=radio],
input[type=checkbox] {
  margin-top: 0;
}

#startDatePicker_group {
  max-width: 170px;
}

#periodSelect, #timesInput {
  max-width: 95%;
}

#times {
  margin-left: 5%;
}

#timesInput {
  float: right;
}


#saveOrder {
  display: flex;
  align-items: center;
}

#saveOrderCheckBox {
  margin-right: 5px;
}

#completionOrderButtons {
  margin: 5% auto 0 auto;
  max-width: 210px;
}

#clearOrderForm {
  width: 102px;
  margin-right: 3px;
  background-color: #a6a6a6;
  color: #EEEEEE;
}

#nextOrderForm {
  width: 102px;
  margin-left: 3px;
  background-color: #0044cc;
  color: #EEEEEE;
}
