.verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#forgotPassword {
  height: auto;
  min-height: 300px;
  padding: 5%;
  font-size: 12px;
  background-color: #d4e0f7;
  margin-bottom: 3%;
}

#forgotTitle {
  margin-top: 0;
}

@media (max-width: 767px) {
  #forgotPassword {
    min-height: auto;
    max-width: 450px;
  }
}
