.information-panel-content {
  min-height: 300px;
  padding: 4.1%;
  font-size: 13px;
  background-color: #D4E0F7;
  margin-bottom: 3%;

  @include phone {
    margin: 0 auto 3% auto;
    max-width: 450px;
  }

  &__title {
    margin-top: 0;

    @include phone {
      font-size: 21px;
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
