#newApplication {
  height: auto;
  min-height: 300px;
  padding: 5%;
  font-size: 13px;
  background-color: #d4e0f7;
  margin-bottom: 3%;
}

#newApplicationTitle {
  margin-top: 0;
}

@include phone {
  #newApplication {
    min-height: auto;
    margin: 0 auto 3% auto;
    max-width: 450px;
  }
}
