.forgot-password {
  &__text {
    max-width: 220px;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 0 auto;
    color: #002b80;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    margin-right: 3px;
  }
}
