.information-panel {
  margin-right: 2%;
  height: 200px;
  background-color: $light-blue;
  border: none;

  @include phone {
    margin: 0 auto 1% auto;
    height: 100px;
  }

  &:hover {
    cursor: pointer;
  }

  &__icon {
    margin-bottom: 5%;

    @include not-desktop {
      margin-left: 0;
    }

    @include phone {
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 15px;
    margin-bottom: 5%;
    user-select : none;

    @include phone {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
