.select-transaction-date {
  max-width: 290px;

  &,
  &__execution-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__execution-type:hover {
    cursor: default;
  }

  & &__radio {
    margin: 0 2px 0 0;
  }
}
