#navbar {
  height: 55px;
  margin: 0;
  background-color: #003399;
  border: none;
  color: #EEEEEE;
}

.navbar-brand {
  line-height: inherit;
  height: 100%;
}

.btn-sample:hover,
.btn-sample:active:focus,
.btn-sample:active:active {
  background-color: #003399 !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus, {
  background-color: #003399;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #EEEEEE;
}

#brand {
  color: #EEEEEE;
  display: flex;
  align-items: center;
}

#greekLanguage, #englishLanguage, #customerName, #logOut {
  color: #EEEEEE;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.navbar-default .navbar-nav>.active>a:visited {
  background-color: #003399;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #0041b2;
}

.logoff {
  font-size: 25px;
  margin-right: 5px;
}

.user {
  font-size: 25px;
  margin-right: 5px;
}

#counter {
  padding: 7px 5px;
  color: #EEEEEE;
  text-align: center;
}
