.transfersContainer {
  max-width: 400px;
  margin: 0 auto 4% auto;
}

#transferCompletionForm {
  margin: 0 auto 7% auto;
}

label {
  font-weight: 500;
}

#transferIBAN {
  margin-bottom: 10px;
}

.btn-group.bootstrap-select.transferSelectAccount.form-control{
  max-width: 500px;
}


.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small {
  color: black;
}

.bootstrap-select.form-control.transferBankSelect {
  max-width: 225px;
}

.bootstrap-select.form-control.transferBIC {
  max-width: 185px;
}

#transferAmount {
  max-width: 150px;
}

#transferDate, #now, #later, #saveTransfer {
  display: flex;
  align-items: center;
}

input[type=radio],
input[type=checkbox] {
  margin-top: 0;
}

.transferDateRadio:hover {
  cursor: default;
}

#now {
  margin-right: 15px;
}

#stis {
  margin-left: 2px;
  margin-right: 10px;
}

#amesa {
  margin-left: 2px;
}

#transferDatePicker_group {
  max-width: 170px;
}

#saveTransfer {
  display: flex;
  align-items: center;
}

#saveTransferCheckBox {
  margin-right: 5px;
}

#completionTransferButtons {
  margin: 5% auto 0 auto;
  max-width: 210px;
}

#clearTransferForm {
  width: 102px;
  margin-right: 3px;
  background-color: #a6a6a6;
  color: #EEEEEE;
}

#nextTransferForm {
  width: 102px;
  margin-left: 3px;
  background-color: #0044cc;
  color: #EEEEEE;
}

@media (max-width: 767px) {

  .fromIBANText {
    font-size: 12px;
  }

  .chargesText {
    font-size: 12px;
  }

}
