#infoPanel {
  margin: 0 1% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#infoText {
}

#infoIcon {
  margin-left: 20%;
}

#panelRow {
  margin: 0;
}

@media (max-width: 991px) {
  #infoIcon {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  #infoPanel {
    margin: 0 0 0.5% 0;
    height: 100px;
  }
  
  #infoIcon {
    margin-left: 15%;
  }
}
