.verticalCenterInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoTittle {
  margin-top: 0;
}

#lastPInfo{
  margin-bottom: 0;
}

#information {
  max-height: 300px;
  padding: 4.1%;
  font-size: 12px;
  background-color: #d4e0f7;
  margin-bottom: 3%;
}
