.secondRow {
  margin-top: 10px;
}

.orderCancel {
  margin-top: 10px;
  float: right;
  width: 110px;
  background-color: #990000;
  color: #EEEEEE;
}

@media (max-width: 767px) {
  .idOrder {
    font-size: 12px;
  }
}
