.desktop-navigation-tabs {
  .fa-money {
    color: #006600;
  }

  .fa-credit-card {
    color: #000080;
  }

  .fa-briefcase {
    color: #654321;
  }

  .fa-exchange {
    color: green;
  }

  .fa-handshake-o {
    color: blue;
  }
}
