#orderApprovalForm {
  max-width: 450px;
  margin: 0 auto;
}

#orderApprovalFormButtons {
  width: 226px;
  margin: 0 auto;
}

#previousOrderForm {
  width: 110px;
  margin-right: 3px;
  background-color: #990000;
  color: #EEEEEE;
}

#submitOrderApprovalForm {
  width: 110px;
  margin-left: 3px;
  background-color: #0044cc;
  color: #EEEEEE;
}
