.accountContainer {
  min-width: 300px;
  max-width: 700px;
  margin-bottom: 7.5%;
}

.accountContainer:hover {
  cursor: pointer;
}

#accountTitle {
  background-color: #003cb3;
  color: #EEEEEE;
}

#IBAN {
  float: right;

}

.titles {
  font-size: 14px;
}

.row {
  margin: 0;
  padding: 0;
}

#summary {
  font-size: 11px;
}

@media (min-width: 768px) {
  #IBAN {
    margin-top: 2px;
  }
}

@media (max-width: 767px) {
  .titles {
    font-size: 12px;
  }
}

@media (max-width: 359px) {
  .titles {
    font-size: 11px;
  }

  #IBAN {
    margin-top: 5px;
  }
}
