#contactPanel {
  margin: 0 1% 0 2%;
  padding: 5%;
  min-width: 145px;
  min-height: 200px;
}

.verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phonesGroup {
  margin-bottom: 10%;
}

.phones {
  font-size: 1.1em;
  margin-left: 3%;
}

.phoneIcon {
  font-size: 1.5em;
}

.comments {
  font-size: 0.6em;
}

.email {
  font-size: 0.7em;
  margin-left: 2.5%;
}

#envelope {
  font-size: 1em;
}

@media (max-width: 767px) {
  #contactPanel {
    margin: 0 0.5% 1% 0;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #contactPanel{font-size: 15px;}
 }

@media (min-width: 992px) and (max-width: 1449px) {
  #contactPanel{font-size: 20px;}
 }

@media (min-width: 1450) {
  #contactPanel{font-size: 30px;}
}
