.modal {
  text-align: center;
  padding: 0 !important;
  bottom: 150px;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  &-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 450px;
  }

  &-header {
    text-shadow: 1px 1px 4px $shadow;
    background-color: #003090;
    color: $white-text;
    font-size: 17px;
    padding: 10px 10px 10px 15px;
  }

  &-body {
    font-size: 15px;
  }

  &-footer {
    border: none;
  }

  &__cancel-button {
    margin-right: 4px;
    background-color: $red;
    color: $white-text;
  }

  &__accept-button {
    background-color: $button-blue;
    color: $white-text;
  }
}
