#linkedProductsTable {
  max-width: 500px;
  margin: 0 auto;
}

.productCell {
  height: 80px;
  align-items: center;
}

.xIcon {
  font-size: 20px;
  color: red;
}

.xIcon:hover {
  cursor: pointer;
}
