.panel-default> .organizationTitle {
  background-color: #003cb3;
  color: #EEEEEE;
}

.orderCode {
  float: right;
  margin-top: 2px;
}

.secondRow {
  margin-top: 10px;
}

.orderCancel {
  margin-top: 10px;
  float: right;
  width: 110px;
  background-color: #990000;
  color: #EEEEEE;
}

@media (max-width: 767px) {
  .ibanOrder {
    font-size: 12px;
  }
}
