.cardPaymentContainer {
  max-width: 400px;
  margin: 0 auto;
}

#organizationSelect {
  max-width: 200px;
  margin-bottom: 10px;
}

#organizationSelect:hover {
  cursor: pointer;
}

#amount {
  max-width: 150px;
}

#paymentDatePicker_group {
  max-width: 170px;
}

#saveCardPayment {
  display: flex;
  align-items: center;
}

#saveCardPaymentCheckBox {
  margin-right: 5px;
}

.notValid {
  border-color: #a94442;
  box-Shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
