.navbar {
  height: 55px;
  margin: 0;
  background-color: $primary-blue;
  border: none;
  color: $white-text;

  &-brand {
    line-height: inherit;
    height: 100%;

    &__text {
      color: $white-text;
      display: flex;
      align-items: center;
    }
  }

  & &-button {
    @extend .vertical-align;
    height: 55px;
    cursor: pointer;
    color: $white-text !important;
    padding-right: 10px;
    padding-left: 10px;

    &__logout {
      &:hover {
        background-color: $active-blue !important;
      }
    }
  }

  & &-items {
    margin-top: 0;

    &__logout-icon {
      font-size: 25px;
      margin-right: 5px;
    }

    &__user-icon {
      font-size: 25px;
      margin-right: 5px;
    }

    &__counter {
      padding: 7px 5px;
      color: $white-text !important;
      text-align: center;
    }
  }
}
