#selectWayOfSelection, #select, #search, #saveTransfer {
  display: flex;
  align-items: center;
}

#select:hover, #search:hover {
  cursor: default;
}

input[name="wayOfSelection"] {
  margin-right: 2px;
}

#search {
  margin-left: 10px;
}
