.timePeriodSelectionContainer {
  max-width: 550px;
  margin: 0 auto 4% auto;
}

#timePeriodGroup {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.timePeriodLabel {
  margin-right: 5px;
  margin-top: 5px;
}

#timePeriodPicker_group {
  max-width: 170px;
  margin-right: 3%;
}
