.loadFormContainer {
  margin: 0 auto;
}

.btn-group.bootstrap-select.loadAccount.form-control{
  max-width: 500px;
}

#loadAmount {
  max-width: 150px;
}

#loadDatePicker_group {
  max-width: 170px;
}

#saveLoad {
  display: flex;
  align-items: center;
}

#saveLoadCheckBox {
  margin-right: 5px;
}
