.verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#forgotPassword {
  max-height: auto;
  min-height: 300px;
  padding: 5%;
  font-size: 12px;
  background-color: #d4e0f7;
  margin-bottom: 3%;
}

.closePanel {
  font-size: 18px;
  float: right;
  margin-top: -3%;
  margin-right: -3%;
  color: #555555;
}

.closePanel:hover {
  cursor: pointer;
}

#forgotTitle {
  margin-top: 0;
}

@media (max-width: 767px) {
  #forgotPassword {
    margin: 0 auto 3% auto;
    min-height: auto;
    max-width: 450px;
  }
}
