#transactionDate, #now, #later, #saveTransfer {
  display: flex;
  align-items: center;
}

.transactionDateRadio:hover {
  cursor: default;
}

#now {
  margin-right: 15px;
}

#stis {
  margin-left: 2px;
  margin-right: 10px;
}

#amesa {
  margin-left: 2px;
}

#transactionDatePicker_group {
  max-width: 170px;
}
