[className*='col-'] {
  padding: 0;
}

#bankingLayout {
  min-width: 300px;
  min-height: 680px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3),
              0 6px 40px 0 rgba(0, 0, 0, 0.35);
  background-color: #e9effc;
}

@include phone {
  #bankingLayout {
    padding: 0;
  }
}
