.existingOrderContainer {
  margin: 0 auto 20px auto;
}

.secondRow {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .orderDetails {
    font-size: 12px;
  }
  .existingOrderPanelBody {
    padding: 10px;
  }
}
